.App-logo {
  height: 40vmin;
}

.navHeader {
  background-color: rgba(37, 44, 58,0);

}

.active {
  color : red;
}

.navItemText {
  color : white;
  cursor: pointer;
  margin-right: 10px;
}

.navBrandItemText {
  color : white;
  font-size: larger;
  cursor: pointer;
}

.navItemText:hover {
  text-decoration: underline;
}
  
.App-container {
  background-color: #252c3a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}