.App-logo {
  height: 40vmin;
}

.navHeader {
  background-color: rgba(37, 44, 58,0.8);
}

.navItemText {
  font-size: large;
  font-weight: 500;
  color : white;
  cursor: pointer;
  margin-right: 10px;
}

.navBrandItemText {
  color : white;
  font-size: larger;
  cursor: pointer;
}

.homeSectionTitleText {
  color : white;
  font-size: larger;
}

.navItemText:hover {
  text-decoration: underline;
}
  
.primaryBackGround {
  background-color: #252c3a;
}

.CarouselTextLeft {
  background-color: rgba(37, 44, 58,0.8);
  border-radius: 5px;
  padding:5px;
  position: absolute; 
  bottom: 0; 
  font-size: 2vw;
  z-index: 200;
  margin-bottom:10%;
  margin-left:50%;
  margin-right:10%;
}
.CarouselTextRight {
  background-color: rgba(37, 44, 58,0.8);
  border-radius: 5px;
  padding:5px;
  position: absolute; 
  bottom: 0; 
  font-size: 2vw;
  z-index: 200;
  margin-bottom:10%;
  margin-right:50%;
  margin-left:10%;
}

.App {
  
}

.App-container {
  background-color: #343e52;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/*    Image Card Styles      */
.imageCardText {
  font-size:medium;
}

.gridRow {
  margin-bottom: 100px;
}

.imageCard {
  border-color: gray;
  border-width: 10px;
}